
{% extends 'base.html' %}
{% load static %}

{% block title %}About - AmiTop Care LLC{% endblock %}

{% block content %}<section class="page-title bg-1" style="background-image: url('{% static "images/doctor.jpeg" %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">About Us</span>
            <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
  
            <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">></span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section about-page">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
				</div>
				<h3 style="margin-top: 20px; color: #223a66;">Abidemi (Aminat) AmiTop - PMHNP - BC</h3>
			</div>
			<div class="col-lg-6">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">About Me</h2>
					<p class="mt-4" style="justify-content: stretch;">I am a Board-certified Mental Health Nurse Practitioner licensed in New Jersey and New York. I work with individuals and families to address mental health needs with cultural sensitivity, including diagnosing patients and implementing plans of care. I study patients’ relevant medical history, perform comprehensive initial psychiatric evaluations, and identify risk factors that might affect a patient’s mental health. My certification is to treat patients across the lifespan and at this time the practice I see patients from the age of 21 to 99 years through telehealth/in person/ in senior care facilities. I offer med management as well as psychotherapy.

                        My personal philosophy of treatment is that just by meds all problems do not disappear. Medications and psychotherapy in combination need to happen for the body and mind wellness as well as growth. You can best achieve sustainable growth and a greater sense of well-being with an integrative approach to wellness.</p>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h2 class="title-color">About the company</h2>
				<div class="row">
					<div class="col-sm-6">
						<div class="about-img mt-4 mt-lg-0">
							<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-img mt-4 mt-lg-0">
							<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="about-img mt-4 mt-lg-0">
							<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-img mt-4 mt-lg-0">
							<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 about-text">
				<p>AmiTop Care LLC is a team of mental health providers who are focused on proving outstanding mental health care to individuals, couples, and families. This team of skilled providers offers holistic, integrative treatment plans for depression, anxiety disorders, and more, that are tailored to meet the unique needs of patients of all ages, from youth to seniors.
					The team has training and experience in a wide range of therapeutic techniques to address a multitude of conditions. In addition to depression and anxiety disorders, they treat post-traumatic stress disorder (PTSD), attention-deficit hyperactivity disorder, (ADHD), substance abuse, obsessive-compulsive disorder (OCD), bipolar disorder, and many other conditions. Customized treatment plans utilize psychotherapy, cognitive-behavioral therapy, dialectical-behavioral therapy, psychodynamic therapy, and other proven techniques to help patients cope with difficult emotions so they can enjoy productive lives and robust personal relationships.
					Good Path Health Services offers mainly Telepsychiatry office visits during the Covid Pandemic. Our client’s can be seen on a weekly, bi-weekly, or on a less frequent basis, depending on their individual need(s). We do not offer emergency mental health services such as detox, crisis intervention, etc.
					Our counseling services, for concerns of an immediate nature, are also provided by highly trained and experienced professionals. Counseling can offer support for a range of matters, such as relationship troubles, school and work troubles, grief counseling, multicultural issues, and many other immediate concerns.
					The team at Good Path Health Services provide excellent psychiatric services to individuals across the lifespan.
					To schedule an evaluation, call Good Path Health Services or make an appointment online today.</p>
				<img src="images/about/sign.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
  {% endblock %}