{% extends 'base.html' %}
{% load static %}
{% block title %}Schedule - AmiTop Care LLC{% endblock %}

{% block content %} 
  

<section class="page-title bg-1" style="background-image: url('{% static "images/doctor.jpeg" %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Patient Scheduling</span>
            <h1 class="text-capitalize mb-5 text-lg">Patient Scheduling</h1>
  
            <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">></span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Schedule Appointment</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="schedule">
    <div class="container">
        <br>
        <br>
        <div class="book-text">
        <h3>Book Your Free Initial 15 min Telehealth Consultation</h3>
    <p>Please select services type and your availibility to book your consultation with us.</p>
</div>
<div class="container">
    <div class="container">
    <div class="tab-container">
        <div class="tab active1" id="t1">
            <i class="icofont-server"></i>
            <p>Select Service</p>
        </div>
        <div class="tab" id="t2">
            <i class="icofont-ui-calendar"></i>
            <p>Date & Time</p>
        </div>
        <div class="tab" id="t3">
            <i class="icofont-files-stack"></i>
            <p>Basic Details</p>
        </div>
        <div class="tab" id="t4">
            <i class="icofont-law-document"></i>
            <p>Summary</p>
        </div>
    </div>
    <br>
    <br>
    <div class="panel-container">
        <div class="space-panel1">
          <div class="serve-content1">
          <div class="mycar-aler">
            <i class="icofont-power"></i><p> Please select any service to book an appointment.</p>
          </div>
        
        <div class="select-service">
          <a id="service">Select Service</a>
        </div>
          
          <div class="service-content" id="btn-trial">
            <div class = "content-container">
              <img src="{% static 'images/AMITOP CARE LLC 001 (1).png' %}" alt="logo">
              <div class="mytextT">
              <div class="mytext">
                <div class="mytextText">
                  <a>15 Minutes Free Initial Consultation</a>
                </div>
                <i class="icofont-check-circled"></i>
              </div>
              <a>This initial free 15 minutes consultation is not an appointment, once the consultation has been done the provider will schedule the appointment. Please Note: If this is an emergency please call 911</a>
              <p>Duration: 15m</p>
            </div>
            </div>
            
          </div>
        </div>

          <div class="next-btn">
            <h1></h1>
            <div class="yesback">
              <p>Next:</p>
              <p>Date & Time <i class="icofont-arrow-right"></i></p>
            </div>
         </div>
        </div>


        <div class="space-panel2">
          <div class="date-content">
          <a id="dateandtime">Date and Time</a>
          <div class="datetime-panel">
              
              <div class="date-picker-wrapper" id="date-wrapper">
                <div class="selected-date"></div>
          
                <div class="dates-container">
                  <div class="month">
                    <div class="arrows prev-month">&lt;</div>
                    <div class="month-item"></div>
                    <div class="arrows next-month">&gt;</div>
                  </div>
          
                  <div class="days-container"></div>
                </div>
              </div>
            
            <div class="mytime">
              <h3>Time Slot</h3>
              <div class="mytime-slot1">
                <p>Morning</p>
                <div class="container text-center">
                  <div class="row">
                    <div class="col bb">
                     <a id="tt1" onclick="selectTime('tt1')">09.00 - 09:15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt2" onclick="selectTime('tt2')">09.15 - 09:30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt3" onclick="selectTime('tt3')">09.30 - 09:45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt4" onclick="selectTime('tt4')">09:45 - 10.00</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt5" onclick="selectTime('tt5')">10.00 - 10.15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt6" onclick="selectTime('tt6')">10:15 - 10:30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt7" onclick="selectTime('tt7')">10:30 - 10:45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt8" onclick="selectTime('tt8')">10:45 - 11:00</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt9" onclick="selectTime('tt9')">11:00 - 11:15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt10" onclick="selectTime('tt10')">11:15 - 11:30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt11" onclick="selectTime('tt11')">11.30 - 11.45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt12" onclick="selectTime('tt12')">11:45 - 12.00</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mytime-slot2">
                <p>Afternoon</p>
                <div class="container text-center">
                  <div class="row">
                    <div class="col bb">
                      <a id="tt13" onclick="selectTime('tt13')">13:00 - 13.15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt14" onclick="selectTime('tt14')">13.15 - 13.30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt15" onclick="selectTime('tt15')">13.30 - 13.45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt16" onclick="selectTime('tt16')">13.45 - 14.00</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt14" onclick="selectTime('tt14')">14.00 - 14.15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt15" onclick="selectTime('tt15')">14.15 - 14.30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt16" onclick="selectTime('tt16')">14.30 - 14.45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt17" onclick="selectTime('tt17')">14.45 - 15.00</a>
                    </div>
                  </div>
            
                  <div class="row">
                    <div class="col bb">
                      <a id="tt17" onclick="selectTime('tt17')">15.00 - 15.15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt18" onclick="selectTime('tt18')">15.15 - 15.30</a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col bb">
                      <a id="tt19" onclick="selectTime('tt19')">15:30 - 13.45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt20" onclick="selectTime('tt20')">16.45 - 16.00</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mytime-slot3">
                <p>Evening</p>
                <div class="container text-center">
                  <div class="row">
                    <div class="col bb">
                      <a id="tt21" onclick="selectTime('tt21')">16:00 - 16.15</a>
                    </div>
                    <div class="col bb">
                      <a id="tt22" onclick="selectTime('tt22')">16.15 - 16.30</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col bb">
                      <a id="tt23" onclick="selectTime('tt23')">16.30 - 16.45</a>
                    </div>
                    <div class="col bb">
                      <a id="tt24" onclick="selectTime('tt24')">16.45 - 17.00</a>
                    </div>
                  </div>
                  
                </div>
              </div>
              </div>
            </div>
            
          </div>
          <div class="next-btn1" id="sec-back">
            <p class="icofont-arrow-left"><i></i>back</p>
            <div class="yesback1">
              <p>Next:</p>
              <p>Date & Time <i class="icofont-arrow-right"></i></p>
            </div>
         </div>
        </div>
          
          <div class="space-panel3">
            <div class="basic-content">
            <div id="basicdetail">Basic Details</div>
          <div class="basicdetail-content">
            <form action="" method="post">
            <label for="">First Name<a>*</a></label><br>
            <input type="text" name="firstname" placeholder="Enter your first name" id="">
            <p></p>
            <label for="">Last Name<a>*</a></label><br>
            <input type="text" name="lastname" placeholder="Enter your last name" id="">
            <p></p>
            <label for="">Email Address<a>*</a></label><br>
            <input type="email" name="eamiladdress" placeholder="Enter your email address" id="">
            <p></p>
            <label for="">Phone Number<a>*</a></label><br>
            <input type="tel" name="" id="phone">
            <p></p>

            <label for="">Please explain your reason for the consultation<a>*</a></label> <br>
            <textarea name="" id="" rows="5" placeholder="Please enter here..."></textarea>
          </form>
          </div>
        </div>
        <div class="next-btn2" id="sec-back">
          <p class="previous-btn2"><i class="icofont-arrow-left"></i>back</p>
          <div class="yesback2">
            <p>Next:</p>
            <p>Date & Time <i class="icofont-arrow-right"></i></p>
          </div>
       </div>
        </div>


        <div class="space-panel4">
          <div class="summary-content">
            <img src="{% static 'images/summary.jpg' %}" alt="" srcset="">
            <p>Summary</p>
            <p>Your appointment booking summary</p>
            <p>Customer</p>
            <p>Mike Taiwo</p>
            <div>
              <div>
                <p>Service</p>
                <p>15 Minutes Free Initial Consultation</p>
              </div>
              <div>
                <p>Date & Time</p>
                <p>13-05-2023, 10:00 – 10:15</p>
              </div>
            </div>
          </div>
          <div class="next-btn3" id="sec-back">
            <p class="icofont-arrow-left"><i></i>back</p>
            <div class="yesback2">
              <p>Next:</p>
              <p>Date & Time <i class="icofont-arrow-right"></i></p>
            </div>
         </div>
        </div>
          
          

          

          </div>
          </div>  
    </div>
</div>
    
  </section>

  <br>
  <br>

  <script src="{% static 'js/schedule.js'%}"></script>
  <script src="{% static 'build/js/utils.js'%}"></script>
 
  
{% endblock %}