<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			
			<div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Write Us Below</h2>
					<p class="mb-4">Get in touch with us by sending us a quick message. We're always here to respond.</p>
					     <form id="#" class="appoinment-form" method="post">{% csrf_token %}
                    <div class="row">
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="firstname" id="firstname" type="text" class="form-control" placeholder="First Name">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="lastname" id="lastname" type="text" class="form-control" placeholder="Last Name">
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone_no" id="phone" type="Number" class="form-control" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="message" id="message" class="form-control" rows="6" placeholder="Enter your message here"></textarea>
                    </div>

                    <input type="submit" class="btn btn-main btn-round-full" value="Submit Now"><i class="icofont-ui-message ml-2"></i></a>
                </form>
            </div>
			</div>
			<div class="col-lg-6 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<p style="color: red;">Contact Us</p>
					<h2 class="mb-2 title-color">Let's Get In Touch</h2>
					<br>
					<br>
					<div class="row">
						<div class="col-md-6">
							<div class="place-num">
								<i class="icofont-ui-call ml-2"></i>
								<div class="num-place">
									<a>Hampden Drive Norwood</a><br>
									<a>823-4565-13456</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="place-num">
								<i class="icofont-ui-call ml-2"></i>
								<div class="num-place">
									<a>Hampden Drive Norwood</a><br>
									<a>823-4565-13456</a>
								</div>
							</div>
						</div>
					</div>
					<br>
				
					<div class="row">
						<div class="col-md-6">
							<div class="place-num">
								<i class="icofont-ui-messaging ml-2"></i>
								<div class="num-place">
									<a>Email</a><br>
									<a>amitopcarellc@gmail.com</a>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<p style="color: #223a66; font-weight: bold; font-size: 20px;">Working Hours</p>
					<div class="day-time">
					<a>Monday: 9:00 AM - 6:00pm</a>
					<a>Tuesday: 9:00 AM - 6:00pm</a>
					<a>Wednesday: 9:00 AM - 6:00pm</a>
					<a>Thursday: 9:00 AM - 6:00pm</a>
					<a>Friday: 9:00 AM - 6:00pm</a>
					<a>Saturday: 10:00 AM - 5:00pm</a>
					<a>Saturday: Appointment availability upon request.</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>