{% extends 'base.html' %}
{% load static %}

{% block title %}Update profile - AmiTop Care LLC{% endblock %}

{% block content %} 

<section class="page-title bg-1" style="background-image: url('{% static "images/doctor.jpeg" %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Update profile</span>
            <h1 class="text-capitalize mb-5 text-lg">Update Profile</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>

  <section>
    <div class="container">
        <div id="myProgress">
            <div id="myBar">10%</div>
          </div>
          <br>
          <p>Personal Information</p>
          <br>
          
            <div class="row">
              <div class="col">
                <label for="">Patient name *</label>
                <input type="text" name="" id="">
              </div>
              <div class="col">
                <label for="">Patient name *</label>
                <input type="text" name="" id="">
              </div>
              <div class="col">
                <label for="">Patient name *</label>
                <input type="text" name="" id="">
              </div>
              <div class="col">
                <label for="">Patient name *</label>
                <input type="text" name="" id="">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                1 of 3
              </div>
              <div class="col">
                2 of 3
              </div>
              <div class="col">
                3 of 3
              </div>
            </div>
          
    </div>
  </section>

{% endblock %}