{% extends 'base.html' %}
{% load static %}

{% block title %}Update profile - AmiTop Care LLC{% endblock %}

{% block content %} 

<section class="page-title bg-1" style="background-image: url('{% static "images/doctor.jpeg" %}');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Update profile</span>
            <h1 class="text-capitalize mb-5 text-lg">Update Profile</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>

  <section>
    <div class="container">
        <div id="myProgress">
            <div id="myBar">10%</div>
          </div>
          <br>
          <p>Personal Information</p>
          <br>
          
          <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
              <div class="col">
                <label for="">Patient First Name *</label>
                <input type="text" name="first_name" id="">
              </div>
              <div class="col">
                <label for="">Patient Middle Name *</label>
                <input type="text" name="middle_name" id="">
              </div>
              <div class="col">
                <label for="">Patient Last Name *</label>
                <input type="text" name="last_name" id="">
              </div>
              <div class="col">
                <label for="">Phone Number *</label>
                <input type="tel" name="phone_number" id="">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <label for="">Address *</label><br>
                <input type="text" name="address" id="">
              </div>
              <div class="col">
                <label for="">Upload Picture *</label>
                <input type="file" name="profile_image" id="">
              </div>
              <div class="col">
                
              </div>
            </div>
            <br>
            <input type="submit" value="Submit">
          </form>
          
    </div>
  </section>
  <br>

{% endblock %}